 @import 'ecom.css';
 @import 'resto.css';
 @import 'info.css';
 @import 'font.css';
  @import 'ecomscreen.css';
  @import 'restoscreen.css';



 /* Styles pour l'en-tête */
 html,
 body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
 }



 header {
   height: 10vh;
   padding: 20px;
   text-align: center;
   /* background: radial-gradient(circle at 24.1% 68.8%, rgb(26, 26, 26) 0%, rgb(0, 0, 0) 99.4%); */
   background-color: rgba(22, 22, 23, .8);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
 }

 /* Styles pour le logo */
 .logo {
   display: inline-block;
   font-family: 'Playfair', serif;
 }

 .logo-text {
   font-size: 24px;
   color: white;
 }

 .logo-a {
   display: inline-block;
   font-size: 36px;
   font-weight: bold;
   color: black;
   background-color: white;
   padding-left: 10px;
   padding-right: 10px;
   /* padding: 10px; */
 }

 nav {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   gap: 10px;
   /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    mix-blend-mode: overlay; */
 }

 nav a {
   color: white;
   text-decoration: none;
   padding: 10px;
   font-size: 18px;
 }

 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0% 50%;
   }
 }

 #about {
   height: 85vh;
 }

 #div-about div {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #div-about {
   display: flex;
   gap: 20px;
   height: 100%;
   margin: 0 50px;
 }

 #about-text {
   width: 60%;
 }

 #about-image {
   position: relative;
   max-width: 600px;
   left: 20%;
   top: 100px;
 }

 #about-image #screen {
   display: block;
   width: 610px;
   height: auto;
   z-index: 100;
 }

 #embedded-content {
  /* border: red solid; */
  position: absolute;
  top: 10px;
  left: 5px;
  width: 100%; 
  height: 325px; 
  z-index: 0;

  
  overflow-x:hidden;
  overflow: auto; /* Enable scrolling if content overflows */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  
  background: rgba(255, 255, 255, 0.8); 
  box-sizing: border-box; 
}

